<!-- Kategoriler Section -->
<div class="categories-section py-5">
    <div class="container">
        <h2 class="text-center mb-4">Popüler Kategoriler</h2>
        <div class="row mt-5">
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="Teknoloji">
                    <div class="card-body">
                        <h5 class="card-title">Teknoloji</h5>
                        <p class="card-text">Teknoloji dünyasındaki son gelişmeler ve tartışmalar.</p>
                        <a href="kategori.html" class="btn btn-outline-primary">Konulara Git</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="https://images.unsplash.com/photo-1507413245164-6160d8298b31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="Bilim">
                    <div class="card-body">
                        <h5 class="card-title">Bilim</h5>
                        <p class="card-text">Bilimsel keşifler ve araştırmalar hakkında tartışmalar.</p>
                        <a href="kategori.html" class="btn btn-outline-primary">Konulara Git</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="https://images.unsplash.com/photo-1460661419201-fd4cecdf8a8b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80" class="card-img-top" alt="Sanat">
                    <div class="card-body">
                        <h5 class="card-title">Sanat</h5>
                        <p class="card-text">Sanat dünyası ve kültür hakkında tartışmalar.</p>
                        <a href="kategori.html" class="btn btn-outline-primary">Konulara Git</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <div class="card h-100">
                    <img src="https://images.unsplash.com/photo-1461896836934-ffe607ba8211?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80" class="card-img-top" alt="Spor">
                    <div class="card-body">
                        <h5 class="card-title">Spor</h5>
                        <p class="card-text">Spor dünyası ve maç analizleri hakkında tartışmalar.</p>
                        <a href="kategori.html" class="btn btn-outline-primary">Konulara Git</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
