<div class="tt-list-header">
    <div class="tt-col-topic">Konular</div>
    <div class="tt-col-category">Kategori</div>
    <div class="tt-col-value hide-mobile">Beğeni</div>
    <div class="tt-col-value hide-mobile">Yorum</div>
    <div class="tt-col-value hide-mobile">Görüntüleme</div>
    <div class="tt-col-value">###</div>
</div>