<div class="tt-tab-wrapper">
    <div class="tt-wrapper-inner">
        <ul class="nav nav-tabs pt-tabs-default" role="tablist">
            <li class="nav-item">
                <a class="nav-link show active" data-toggle="tab" href="#tt-tab-01" role="tab"><span>Hakkımızda</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tt-tab-02" role="tab"><span>Kılavuz</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tt-tab-03" role="tab"><span>SSS</span></a>
            </li>
            <li class="nav-item tt-hide-xs">
                <a class="nav-link" data-toggle="tab" href="#tt-tab-04" role="tab"><span>Hizmet Şartları</span></a>
            </li>
            <li class="nav-item tt-hide-md">
                <a class="nav-link" data-toggle="tab" href="#tt-tab-05" role="tab"><span>Gizlilik</span></a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane show fade active" id="tt-tab-01" role="tabpanel">
            <div class="tt-layout-tab">
                <div class="tt-wrapper-inner">
                    <h2 class="tt-title">Forum Hakkında - Yazılımcı Sarman Forum</h2>Yazılımcı Sarman Forum, yazılım tutkunlarının bilgi paylaşımı yaptığı, sorularına yanıt bulduğu ve projeler üzerine birlikte düşündüğü bir geliştirici topluluğudur. Amacımız, hem yeni başlayanlara yol göstermek hem de deneyimli yazılımcılarla değerli fikir alışverişleri yapmaktır.<h3 class="tt-title">Yöneticiler</h3>
                    <div class="tt-list-avatar">
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-n"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Nitish</h6>
                                        <div class="tt-value">@@nitish92</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-t"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Taylor</h6>
                                        <div class="tt-value">@@tails23</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-k"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Kevin</h6>
                                        <div class="tt-value">@@kevin27</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-g"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Yeşil</h6>
                                        <div class="tt-value">@@green63</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-d"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Dylan</h6>
                                        <div class="tt-value">@@dylan89</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-p"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Peterson</h6>
                                        <div class="tt-value">@@dylan89</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <h4 class="tt-title">Moderators</h4>
                    <div class="tt-list-avatar">
                        <div class="row">
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-a"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">azyrus</h6>
                                        <div class="tt-value">@@azyrus21</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-s"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Smith</h6>
                                        <div class="tt-value">@@smith45</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-u"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Usain</h6>
                                        <div class="tt-value">@@bolt24</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-l"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Larry</h6>
                                        <div class="tt-value">@@larry74</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-j"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Jordan</h6>
                                        <div class="tt-value">@@jordan36</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-c"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Clive</h6>
                                        <div class="tt-value">@@clive45</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-m"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Mitchell</h6>
                                        <div class="tt-value">@@mitchell73</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-v"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Vans</h6>
                                        <div class="tt-value">@@vans49</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-p"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Baker</h6>
                                        <div class="tt-value">@@baker65</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-f"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Foster</h6>
                                        <div class="tt-value">@@foster87</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-6 col-md-4 col-lg-3">
                                <a href="#" class="tt-avatar">
                                    <div class="tt-col-icon">
                                        <svg class="tt-icon">
                                            <use xlink:href="#icon-ava-o"></use>
                                        </svg>
                                    </div>
                                    <div class="tt-col-description">
                                        <h6 class="tt-title">Olly</h6>
                                        <div class="tt-value">@@olly39</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive-sm tt-indent-top">
                    <table class="table-01">
                        <caption>Site İstatistikler</caption>
                        <thead>
                            <tr>
                                <th>Konu</th>
                                <th>Toplam</th>
                                <th>Son 7 gün</th>
                                <th>Son 1 Ay</th>
                            </tr>
                        </thead>
                        <tbody class="table-zebra">
                            <tr>
                                <td>Konular</td>
                                <td>51.8k</td>
                                <td>263</td>
                                <td>1.2k</td>
                            </tr>
                            @* <tr>
                                <td>Yazılar</td>
                                <td>624k</td>
                                <td>3.9k</td>
                                <td>15.4k</td>
                            </tr> *@
                            <tr>
                                <td>Kullanıcılar</td>
                                <td>123k</td>
                                <td>698</td>
                                <td>3.3k</td>
                            </tr>
                            @* <tr>
                                <td>Aktif Kullanıcılar</td>
                                <td>–</td>
                                <td>2.8k</td>
                                <td>7.2k</td>
                            </tr> *@
                            <tr>
                                <td>Beğeniler</td>
                                <td>224k</td>
                                <td>2.5k</td>
                                <td>9.2k</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tt-wrapper-inner tt-indent-top">
                    <h4 class="tt-title">Bize ulaşın</h4>Bizimle iletişime geçmekten çekinmeyin. Mesajlarınızı ornek@sample.com adresine gönderebilirsiniz.
                </div>
            </div>
        </div>
        <div class="tab-pane" id="tt-tab-02" role="tabpanel">
            <div class="tt-wrapper-inner tt-layout-tab">
                <h6 class="tt-title tt-size-lg">Topluluk Kuralları</h6>
                <p>Bu topluluk, fikirlerin paylaşıldığı ve geliştiricilerin birbirine destek olduğu yaratıcı bir ortamdır.</p>
                <p>Topluluğa katılmanızı memnuniyetle karşılıyoruz. Ancak herkesin keyifli bir deneyim yaşaması için bazı temel kurallara uyması gerekmektedir. Aşağıdaki kurallar, tüm forum, blog, yarışma ve diğer etkileşim alanlarında geçerlidir. Bu ortamı korumaya kararlıyız, sizin de öyle olmanızı bekliyoruz.</p>

                <dl class="dl-layout-01">
                    <dt>Topluluk başarıya ulaştığında hepimiz başarılıyız.</dt>
                    <dd>Sağlıklı rekabeti destekliyoruz, ancak bilgi, fikir ve deneyim paylaştıkça hepimiz birlikte gelişiyoruz. Yardımlaşma, topluluğun temelidir.</dd>

                    <dt>Küresel ve kapsayıcı bir topluluğuz.</dt>
                    <dd>Farklı ülkelerden, kültürlerden ve seviyelerden gelen üyelerimiz var. Herkesin eşit şansa sahip olduğu bir ortam oluşturmak istiyoruz.</dd>

                    <dt>Çeşitliliği kucaklıyor, bireyselliği kutluyoruz.</dt>
                    <dd>Farklı görüşleri yapıcı ve saygılı bir şekilde ifade etmek teşvik edilir. Irk, din, cinsiyet, yönelim gibi konularda ayrımcılığa kesinlikle izin verilmez.</dd>

                    <dt>İş birliği ve ilham bizim temelimizdir.</dt>
                    <dd>Farklı geçmişlerden insanlarla birlikte çalışmak, yeni fikirlerin ve yaratıcılığın ortaya çıkmasını sağlar. İş birliği büyümeyi getirir.</dd>

                    <dt>Meraklıyız ve sürekli öğreniyoruz.</dt>
                    <dd>Hepimiz hem öğretmen hem öğrenciyiz. Bilgi hızla değişiyor ve birlikte gelişmek için sürekli öğrenmeye açığız. Sadece trendleri takip etmiyoruz, onları biz oluşturuyoruz.</dd>
                </dl>

                <h6 class="tt-title">Uymanız Gereken Yasaklar (Lütfen Yapmayın):</h6>
                <ul class="tt-list-dot tt-indent-top01">
                    <li>Kişisel saldırılarda bulunmak, başka bir kullanıcıyı hedef almak veya içeriklerine zarar vermek.</li>
                    <li>Siyasi, dini, müstehcen veya rakip pazar konularını gündeme getirmek.</li>
                    <li>Spam içerikler paylaşmak.</li>
                    <li>Trollük yapmak, ortamı provoke etmek.</li>
                    <li>Ücretli içeriklerin olduğu kategorilere ücretsiz bağlantı bırakmak.</li>
                    <li>Açıkça kendi ürün/hizmetinizi agresif şekilde tanıtmak.</li>
                    <li>Bağış, yardım ya da destek talep eden içerikler paylaşmak.</li>
                    <li>Fiyatlandırma veya ticari detayları (özellikle yazar/stüdyo odaklı) tartışmak.</li>
                    <li>Korsan içeriklerden, warez sitelerden veya yasa dışı faaliyetlerden bahsetmek.</li>
                    <li>Diğer kullanıcıların kişisel bilgilerini istemek veya paylaşmak.</li>
                    <li>Başka kişilerin fikri mülkiyet haklarını ihlal eden içerikler paylaşmak.</li>
                </ul>

                <p class="tt-indent-top02">Tüm fikirler değerlidir; yeter ki yapıcı ve saygılı bir dille paylaşılsın.</p>
            </div>

        </div>
        <div class="tab-pane" id="tt-tab-03" role="tabpanel">
            <div class="tt-wrapper-inner tt-layout-tab">
                <h6 class="tt-title tt-size-lg">Sıkça Sorulan Sorular (SSS)</h6>

                <dl class="dl-layout-01">
                    <dt>Bu platformu kimler kullanabilir?</dt>
                    <dd>Platformumuz, yazılıma ilgi duyan herkesin kullanımına açıktır. Özellikle geliştiriciler, tasarımcılar ve teknoloji meraklıları için tasarlanmıştır.</dd>

                    <dt>Topluluğa katılmak ücretli mi?</dt>
                    <dd>Hayır, topluluğumuza katılım tamamen ücretsizdir. Sadece kurallara uymanız yeterlidir.</dd>

                    <dt>Destek almak için nereye başvurabilirim?</dt>
                    <dd>Teknik destek veya topluluk kurallarıyla ilgili sorunlarda iletişim formunu kullanabilir ya da moderatörlere özel mesaj gönderebilirsiniz.</dd>

                    <dt>Yayınladığım içerikler onay sürecinden geçiyor mu?</dt>
                    <dd>Evet, toplulukta kalıcı içerikler (ör. rehberler, sabit gönderiler) editör onayından geçmektedir. Bu, içerik kalitesini korumak içindir.</dd>

                    <dt>Reklam veya ürün tanıtımı yapabilir miyim?</dt>
                    <dd>Doğrudan reklam yapmak yasaktır. Ancak, katkı sağlayan içeriklerde ilgili bağlantılar izinli olabilir. Detaylar için kuralları okuyunuz.</dd>
                </dl>
            </div>

        </div>
        <div class="tab-pane" id="tt-tab-04" role="tabpanel">
            <div class="tt-wrapper-inner tt-layout-tab">
                <h6 class="tt-title tt-size-lg">Hizmet Koşulları</h6>

                <p>Bu platformu kullanarak aşağıdaki hizmet koşullarını kabul etmiş sayılırsınız. Lütfen kuralları dikkatlice okuyunuz.</p>

                <dl class="dl-layout-01">
                    <dt>Kullanım Şartları</dt>
                    <dd>Platform yalnızca yasal ve topluluk kurallarına uygun amaçlarla kullanılabilir. Yasadışı faaliyetlerde bulunmak kesinlikle yasaktır.</dd>

                    <dt>Hesap Güvenliği</dt>
                    <dd>Kullanıcı hesabınızın güvenliği sizin sorumluluğunuzdadır. Şifrenizi kimseyle paylaşmayın ve güçlü bir parola kullanın.</dd>

                    <dt>İçerik Sahipliği</dt>
                    <dd>Platforma yüklediğiniz içeriklerden siz sorumlusunuz. Başkalarının telif haklarını ihlal eden içerikler yüklemek yasaktır.</dd>

                    <dt>Platform Değişiklikleri</dt>
                    <dd>Geliştirme veya bakım amacıyla zaman zaman platformun bazı özellikleri değiştirilebilir ya da durdurulabilir.</dd>

                    <dt>Hesap Kapatma</dt>
                    <dd>Kurallara aykırı davranan kullanıcıların hesapları geçici veya kalıcı olarak kapatılabilir.</dd>

                    <dt>Sorumluluk Reddi</dt>
                    <dd>Platformda sunulan bilgiler genel bilgilendirme amaçlıdır. Doğruluğu garanti edilmez ve kullanıcı tarafından kontrol edilmelidir.</dd>
                </dl>

                <p class="tt-indent-top02">Bu koşullar zaman zaman güncellenebilir. Güncellemeleri takip etmek kullanıcı sorumluluğundadır.</p>
            </div>

        </div>
        <div class="tab-pane" id="tt-tab-05" role="tabpanel">
            <div class="tt-wrapper-inner tt-layout-tab">
                <h6 class="tt-title tt-size-lg">Gizlilik Politikası</h6>

                <p>Kullanıcılarımızın gizliliği bizim için önemlidir. Bu gizlilik politikası, platformumuzda topladığımız bilgileri, bu bilgilerin nasıl kullanıldığını ve nasıl korunduğunu açıklar.</p>

                <dl class="dl-layout-01">
                    <dt>Toplanan Bilgiler</dt>
                    <dd>Kayıt sırasında sağladığınız bilgiler (isim, e-posta adresi vb.) ve platformu kullanımınız sırasında elde edilen teknik veriler (IP adresi, tarayıcı bilgisi vb.) toplanabilir.</dd>

                    <dt>Bilgilerin Kullanımı</dt>
                    <dd>Toplanan bilgiler, hizmet kalitemizi artırmak, kullanıcı deneyimini geliştirmek ve gerektiğinde sizinle iletişime geçebilmek için kullanılır.</dd>

                    <dt>Çerezler (Cookies)</dt>
                    <dd>Platformumuz, kullanıcı deneyimini iyileştirmek için çerezlerden faydalanır. Tarayıcı ayarlarından çerezleri kontrol edebilir veya devre dışı bırakabilirsiniz.</dd>

                    <dt>Veri Paylaşımı</dt>
                    <dd>Bilgileriniz üçüncü şahıslarla paylaşılmaz. Ancak yasal yükümlülükler veya mahkeme kararları doğrultusunda ilgili makamlarla paylaşılabilir.</dd>

                    <dt>Veri Güvenliği</dt>
                    <dd>Kişisel bilgileriniz, güvenlik önlemleri ile korunmaktadır. Ancak internet üzerindeki hiçbir sistem tamamen güvenli değildir, bu nedenle kullanıcı olarak dikkatli olmanızı tavsiye ederiz.</dd>

                    <dt>Verilere Erişim ve Güncelleme</dt>
                    <dd>İstediğiniz zaman hesabınıza ait verileri görüntüleyebilir, güncelleyebilir veya hesabınızı silebilirsiniz.</dd>
                </dl>

                <p class="tt-indent-top02">Bu gizlilik politikası zaman zaman güncellenebilir. Önemli değişiklikler web sitemiz üzerinden duyurulacaktır.</p>
            </div>

        </div>
    </div>
</div>