

<div class="hero-section text-center py-5 bg-light">
    <div class="container">
        <p class="lead mb-4">Yazilimci sarman hosgeldin</p>
        <a href="/profiles/topics" class="btn btn-primary btn-lg">Yazılarım</a>
        <a href="/profiles/comments" class="btn btn-primary btn-lg">Yorumlarım</a>
        <a href="/profiles/changepassword" class="btn btn-primary btn-lg">Şifre Değiştir</a>
    </div>
</div>

<div class="container py-5">
    <div class="row g-4">
        @* konular card *@
            <div class="col-md-6 col-lg-6">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="category-icon bg-primary bg-opacity-10 p-3 rounded-circle me-3">
                                <i class="fas fa-microchip text-primary fa-2x"></i>
                            </div>
                        <h5 class="card-title mb-0">Konularım</h5>
                        <h5 class="card-title mb-0">-</h5>
                        <h5 class="card-title mb-0">&nbsp112</h5>
                        </div>
                    @* <h5 class="card-title mb-0">12</h5> *@

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="text-muted">
                                @* <small><i class="fas fa-comments me-1"></i> PostCount</small> *@
                            </div>
                            <a href="/profiles/topics" class="btn btn-outline-primary">Görüntüle</a>
                        </div>
                    </div>
                </div>
            </div>
            @* yorumlar card *@
        <div class="col-md-6 col-lg-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-3">
                        <div class="category-icon bg-primary bg-opacity-10 p-3 rounded-circle me-3">
                            <i class="fas fa-flask text-success fa-2x"></i>
                        </div>
                        <h5 class="card-title mb-0">Yorumlarım</h5>
                        <h5 class="card-title mb-0">-</h5>
                        <h5 class="card-title mb-0">&nbsp112</h5>
                    </div>
                    @* <h5 class="card-title mb-0">12</h5> *@

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-muted">
                            @* <small><i class="fas fa-comments me-1"></i> PostCount</small> *@
                        </div>
                        <a href="/profiles/comments" class="btn btn-outline-primary">Görüntüle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


