<div class="tt-loginpages-wrapper">
    <div class="tt-loginpages">
        <a href="/home" class="tt-block-title">
            <img src="~/forum/images/forumsarman.png" alt="" width="50px" height="50px">
            <div class="tt-title">
                Yazılımcı Sarman Forum'una hoşgeldiniz.
            </div>
            <div class="tt-description">
                Topluluğun gerçek gücünü ortaya çıkarmak için hesabınıza giriş yapın.
            </div>
        </a>
        <form class="form-default">
           @*  <div class="form-group">
                <label for="loginUserName">Username</label>
                <input type="text" name="name" class="form-control" id="loginUserName" placeholder="azyrusmax">
            </div> *@
            <div class="form-group">
                <label for="loginUserName">Email</label>
                <input type="email" name="email" class="form-control" id="loginUserName" placeholder="example@gmail.com">
            </div>
            <div class="form-group">
                <label for="loginUserPassword">Şifre</label>
                <input type="password" name="name" class="form-control" id="loginUserPassword" placeholder="************">
            </div>
            <div class="row">
               @*  <div class="col">
                    <div class="form-group">
                        <div class="checkbox-group">
                            <input type="checkbox" id="settingsCheckBox01" name="checkbox">
                            <label for="settingsCheckBox01">
                                <span class="check"></span>
                                <span class="box"></span>
                                <span class="tt-text">Remember me</span>
                            </label>
                        </div>
                    </div>
                </div> *@
                <div class="col ml-auto text-right">
                    <a href="#" class="tt-underline">Şifremi Unuttum !!!</a>
                </div>
            </div>
            <div class="form-group">
                <a href="#" class="btn btn-secondary btn-block">Giriş Yap</a>
            </div>
           @*  <p>Or login with social network</p> *@
            @* <div class="row">
                <div class="col">
                    <div class="form-group">
                        <a href="#" class="btn btn-color01 btn-secondary btn-block">
                            <i>
                                <svg class="icon">
                                    <use xlink:href="#facebook-f-brands"></use>
                                </svg>
                            </i>
                            Facebook
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <a href="#" class="btn btn-color02 btn-block">
                            <i>
                                <svg class="icon">
                                    <use xlink:href="#twitter-brands"></use>
                                </svg>
                            </i>
                            Twitter
                        </a>
                    </div>
                </div>
            </div> *@
            <p>Hesabınız yok mu? <a href="#" class="tt-underline">Buradan kayıt olun</a></p>
            <div class="tt-notes">
                Giriş yaparak, oturum açarak veya devam ederek, Yazılımcı Sarman Forum’un
                <a href="#" class="tt-underline">Kullanım Şartları</a> ve
                <a href="#" class="tt-underline">Gizlilik Politikası</a>’nı kabul etmiş oluyorum.
            </div>

        </form>
    </div>
</div>
