
<div class="tt-wrapper-inner">
    <ul class="nav nav-tabs pt-tabs-default" role="tablist">
        <li class="nav-item show">
            <a class="nav-link active" data-toggle="tab" href="#tt-tab-01" role="tab"><span>Konular</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tt-tab-02" role="tab"><span>Yorumlar</span></a>
        </li>
       @*  <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#tt-tab-03" role="tab"><span>Replies</span></a>
        </li>
        <li class="nav-item tt-hide-xs">
            <a class="nav-link" data-toggle="tab" href="#tt-tab-04" role="tab"><span>526 Followers</span></a>
        </li>
        <li class="nav-item tt-hide-md">
            <a class="nav-link" data-toggle="tab" href="#tt-tab-05" role="tab"><span>489 Following</span></a>
        </li>
        <li class="nav-item tt-hide-md">
            <a class="nav-link" data-toggle="tab" href="#tt-tab-06" role="tab"><span>Categories</span></a>
        </li> *@
    </ul>
</div>